name: Build and Deploy on Server
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Rebuild and Restart
        run: |
          docker compose up -d --build

          docker image prune -f